<h1><%= @list["Title"] %></h1>

<div>
<img src="<%= @list["Poster"] %>" alt="">
</div>

<div>
<h2>Release Date: <%= @list["Released"] %></h2>

<h2>Director: <%= @list["Director"] %></h2>
<p><%= @list["Plot"] %></p>
</div>
